@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Merriweather:ital,wght@0,300;0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Dirt&display=swap');
@import url('header.css');
@import url('table-tag.css');

:root {
    --background: #ffffff;
    --table-primary-color:orangered;
    --table-secondary-color: #000;
    --table-cell-width: 450px;
    --table-cell-width-tablet: 250px;
    --table-font-color: #fff;
    --table-cell-padding: 48px;
    --table-cell-netbook: 36px;
    --table-cell-tablet: 24px;
    --table-cell-mobile: 12px;
}

body{
    font-family: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
}


@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}


@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "PassionsConflict";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/PassionsConflict-Regular.ttf") format("truetype");
}

/* body {
    font-family: "Roboto";
} */

html {
    font-size: 16px;
}

header nav,
.container,
.page-title {
    max-width: 1395px;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*next-lesson*/
    margin-right: -12px;
    margin-left: -12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

b,
strong {
    font-weight: 600;
}

.page-title {
    font-size: 48px;
}

.example {
    background: #ECF0F1;
    padding: 48px 0 72px;
    margin-bottom: 84px;
}


.example-item {
    width: 60px;
    height: 60px;
    background: #00C300;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}


.justify-content-around {
    justify-content: space-around;
}


.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-start,
.align-items-center,
.align-items-end {
    height: 450px;
    background-color: #ADFF2F;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}



/*2*/
.flex-direction-column {
    flex-direction: column;
    background-color: #2196F3;
    height: 600px;
}


.flex-direction-column .example-item {
    background-color: yellow;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}


@media (max-width: 767px) {  /*если меньше*/
    .page-title {
        font-size: 28px;
    }
}
